*{
    padding:0;
    margin: auto 0;
    font-family: "Josefin sans",sans-serif;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
    scroll-behavior:smooth;
}
:root{
    --bg-color:#2a2a2a;
    --second-bg-color:#202020;
    --text-color:#fff;
    --second-color:#ccc;
    --main-color:#31899F;
    --big-font:5rem;
    --h2-font:3rem;
    --p-font:1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}
.Portfoilio{
    color: var(--text-color);
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: var(--main-color);
}
.navlist a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size:35px;
    color:var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-right: 35%;
    display: none;
}
section{
    padding: 160px 15% 120px;
}
.home{
    position:relative;
    height: 100vh;
    width:100%;
    background-color: var(--second-bg-color);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.img1{
    height: auto;
    width: 30%;
    padding-left: 30%;
}
.slide{
    margin-bottom: 20px;
}
.one{
    display:inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height:32px;
    font-size:20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}
.two{
    display:inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}
.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height:1.1;
    margin: 1px;
}
.home-text h3{
    color: var(--text-color);
    margin:0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height:1.1;
}
.home-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 35px;
    color:var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}
.btn:hover{
    transform: scale(0.9);
}
.btn1{
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 35px;
    color:var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
    margin-left: 10px;
}
.btn1:hover{
    transform: scale(0.9);
}

header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding:12px 15%;
}
.about{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    align-items: center;
    gap:1.5rem;
}
.about-img img{
    max-width: 530px;
    height: auto;
    width: 60%;
    border-radius: 8px;
}
.about-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.about-text h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}
.skills{
    background: var(--second-bg-color);

}
.myskills{
    text-align: center !important;
}
.h3bar{
    margin: 5px;
}
.skill{
    width: 400px;
    height: 500px;
    margin-left: 40px;
    margin-top: 5%;
    color: white;
    padding: 10px;
    box-shadow: 14px 28px rgba(0,0,0,0.25),  10px 10px rgba(0,0,0,0.22);
    border-radius: 35px;
}
.skill li{
    margin: 15px 0;
    padding: 15px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 3px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: #31899F;
}
.Photoshop{
    width: 90%;
    animation: Photoshop 3s;
}
.html{
    width: 90%;
    animation: HTML 3s;
}
.CSS{
    width: 70%;
    animation: CSS 3s;
}
.Illustrator{
    width: 45%;
    animation: Illustrator 3s;
}
.Figma{
    width: 60%;
    animation: Figma 3s;
}
@keyframes Photoshop {
    0%{
        width: 0%;
    }
    100%{
        width:90%;
    }
}
@keyframes HTML {
    0%{
        width: 0%;
    }
    100%{
        width:90%;
    }
}
@keyframes CSS {
    0%{
        width: 0%;
    }
    100%{
        width:70%;
    }
}
@keyframes Illustrator {
    0%{
        width: 0%;
    }
    100%{
        width:45%;
    }
}
@keyframes Figma {
    0%{
        width: 0%;
    }
    100%{
        width:60%;
    }
}
.sskill{
    width: 400px;
    height: 500px;
    margin-left: 60%;
    margin-top: -39%;
    color: white;
    padding: 10px;
    box-shadow: 14px 28px rgba(0,0,0,0.25),  10px 10px rgba(0,0,0,0.22);
    border-radius: 35px;
}
.sskill li{
    margin: 15px 0;
    padding: 15px;
}
.bar1{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar1:hover{
    box-shadow: 0 14px 3px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.bar1 span{
    height: 20px;
    float: left;
    background: #31899F;
}
.Creativity{
    width: 90%;
    animation: Creativity 3s;
}
.Detail{
    width: 70%;
    animation: Detail 3s;
}
.Perfectionism{
    width: 89%;
    animation: Perfectionism 3s;
}
.Strategic{
    width: 99%;
    animation: Strategic 3s;
}
.TeamPlayer{
    width: 100%;
    animation: TeamPlayer 3s;
}
@keyframes Creativity {
    0%{
        width: 0%;
    }
    100%{
        width:90%;
    }
}
@keyframes Detail {
    0%{
        width: 0%;
    }
    100%{
        width:70%;
    }
}
@keyframes Perfectionism {
    0%{
        width: 0%;
    }
    100%{
        width:89%;
    }
}
@keyframes Strategic {
    0%{
        width: 0%;
    }
    100%{
        width:99%;
    }
}
@keyframes TeamPlayer {
    0%{
        width: 0%;
    }
    100%{
        width:100%;
    }
}

.main-text{
    text-align: center;

}
.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;

}
.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.main-text2{
    text-align: center;
    margin-top: 6%;

}
.main-text2 p{
    color: var(--second-color);
    font-size: 10px;
    margin-bottom: 15px;

}
.main-text2 h2{
    font-size: 30px;
    line-height: 1;
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}
.box p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}
.read{
    display: inline-block;
    padding: 8px 18px;
    background: #333333;
    color: var(--second-color);
    font-size: 14px;
    font-weight:500;
    border-radius: 8px;
    transition: all .45s ease;
}
.read:hover{
    letter-spacing: 1px;
    background: #ffffff99;
    color: var(--text-color);
}
.box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}
.project-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    align-items:center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.row img{
    width: 100%;
    height: 100%;
    border-radius:8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height:0;
    background: var(--text-color);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
    flex-direction: column;
}
.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--second-bg-color);
}
.layer p{
    color: var(--second-bg-color);
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}
.main-text1{
    text-align: center;
    margin-top: -20%;

}
.main-text1 p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;

}
.main-text1 h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.contact{
    background: var(--second-bg-color);

}
.contact {
    padding-top: 175px;
    padding-bottom: 170px;
}

.contact article {
    background-color: var(--second-bg-color);
    height: 650px;
}
.contact {
    padding-top: 175px;
    padding-bottom: 175px;
}

.contact article {
    background-color: var(--second-bg-color);
    height: 650px;
}

.contact article h1 {
    color: white;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
}

.contact article .images {
    text-align: center;
    margin-top: 30px;
}


.contact article .images img {
    padding: 60px;
}

a {
    text-decoration: none;
}

.contact input {
    background-color: var(--second-bg-color);
    border: none;
    border-bottom: 3px solid white;
    color: white;
    height: 60px;
    width: 300px;
    transition: color 0.5s, background-color 0.5s, border-bottom-color 0.5s;

}

.contact input:hover {
    border: none;
    border-bottom: 3px solid #2F6DB7;
    color: #2F6DB7;
    transition: color 0.5s, background-color 0.5s, border-bottom-color 0.5s;

}

.contact input:hover::placeholder {

    color: #2F6DB7;
    transition: color 0.5s, background-color 0.5s, border-bottom-color 0.5s;
}

.messageField {
    width: 630px !important;
}

form {
    margin: -13% auto 0 ;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    width: 630px;
    gap: 30px
}

.submit {
    background-color: var(--main-color) !important;
    color: #E3F5FE !important;
    border: none !important;
    border-radius: 13px !important;
    float: right !important;
    width: 630px !important;
    height: 60px !important;
    transition: background-color 0.5s, color 0.5s;

}

.submit:hover {
    background-color: #559fff !important;
    color: #416281 !important;
    transition: background-color 0.5s, color 0.5s;

}
.social{
    margin-top: 40px;
    margin-left: 200px;
    color: var(--main-color);
    font-size: 25px;
}
.icons{
    height: 45px;
    width: 45px;
    font-size: 35px;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left:59px;
    color: white;
}
.icons a i.bx{
    color: white;
    width: 40px;
}
.project1{
    margin-top: -10%;
}
.project2{
    margin-top: -10%;
}
#menuToggle
{
    display: block;
    position: relative;
    top: 50px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a
{
    text-decoration: none;
    color: #ffffff;

    transition: color 0.3s ease;
}


#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}

#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
    position: fixed;
    width: 300px;
    margin: -100px 0 0 -600px;
    padding: 50px;
    padding-top: 125px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul
{
    transform: none;
}
.icons a:hover{
    transform: scale(2.1);
}

@media (max-width: 1480px) {
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }
    header .sticky{
        padding: 10px 2.5%;
        transition: .1s;
    }
    section{
        padding: 110px 3% 60px;
    }
    .sskill{
        margin-top: -50%;
    }

}
@media (max-width: 1100px) {
    :root{
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }
    .home-text h3{
        font-size: 2.5rem;
    }
    .home{
        height: 87vh;
    }
}
@media (max-width: 920px){
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .contact{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 840px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }
    .navlist a:hover{
        color: var(--main-color);
    }
    .navlist a.active{
        color: var(--text-color);
    }
    .navlist.open{
    top: 100%;
    }
}
@media (max-width: 820px){
    .img1{
        max-width:40%;
        margin-left: -20%;
    }
    .about-img{
        width: 40%;
        margin-left: 35%;
        margin-top: 5%;
    }
    .sskill{
        margin-top: 10%;
        margin-left: 25%;
    }
    .skill{
        margin-left: 25%;
    }
    .social{
        margin-left: 37%;!important;
    }
    .contactform{
        max-width: 50%;
    }
    .menu-icon{
        margin-top: -3%;
    }
    .home{
        width: 860px;
    }
    .skills{
        width: 860px;
    }
    .contact{
        width: 860px;
    }
    #menu {
        position: fixed;
        width: 400px;
        margin: -100px 0 0 -808px;
        padding: 50px;
        padding-top: 125px;
        box-shadow: none;
    }
    .menu-icon{
        margin-left: 55%;
    }
}
@media (max-width: 414px){
    .sskill{
        margin-top: 10%;
        margin-left: 25%;
        max-width: 70%;
        align-items: center;
    }
    .skill{
        margin-left: 25%;
        max-width: 70%;
        align-items: center;
    }
    .social{
        margin-left: 30%;!important;
    }
    .img1{
       display: none;
    }
    .about-img{
        width: 80%;
        margin-left: 60%;
    }
    .project{
        margin-left: 50%;
        width: 100%;
    }
    .project2{
        margin-left: 50%;
        width: 100%;
    }
    .project1{
        margin-left: 50%;
        width: 100%;
    }
    .about-text{
        width: 100%;
        align-items: center;!important;
        text-align: center;
        margin-left: 50%;
    }
    .home-text{
        width: 100%;
        align-items: center;!important;
        text-align: center;
    }

    #menu {
        position: fixed;
        width: 400px;
        margin: -100px 0 0 -808px;
        padding: 50px;
        padding-top: 125px;
        box-shadow: none;
    }
    .menu-icon{
        margin-left: 55%;
    }
    .social{
        margin-left: 40%;
    }
    
}






